<h1><%= post.title  %></h1>
<img src="<%= post.image %>" alt=""><br>
<span><%= post.content  %></span><br>
<span><b><%= post.createdAt %></b></span><br>
<a href="/editar/<%= post.id %>">Editar Post</a>